{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Home{% endblock title %}</title>

    {% block head_favicon %}
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    {% endblock head_favicon %}
    
    {% block head_meta %}
        {% block head_meta_charset%}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% endblock head_meta_charset %}
        
        {% block head_meta_contentlanguage %}
            <meta http-equiv="Content-Language" value="en-US" />
        {% endblock head_meta_contentlanguage %}
        
        {% block head_meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    
    {% block head_css %}
        {% block head_css_site %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen"/>
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen"/>
        <link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet" media="screen"/>

        {% endblock head_css_site %}

        {% block    head_css_section %}
        {% endblock head_css_section %}
    {% endblock head_css %}
  </head>
    
  <body>
    <nav
      class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark"
      aria-label="Furni navigation bar"
    >
      <div class="container">
        <!-- <a class="navbar-brand" href="index.html"> -->
          <img class="new-lg" src="{% static 'images/tdlogo-modified.png' %}" alt="TANUSH DECORS"/>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsFurni"
          aria-controls="navbarsFurni"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
          <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item {% if request.path == '/'          %}active{% endif %}"><a class="nav-link" style="color: black !important" href="/">Home</a></li>
            <li class="nav-item {% if request.path == '/shop/'     %}active{% endif %}"><a class="nav-link" style="color: black !important; font-weight: 900" href="/shop">Shop</a></li>
            <li class="nav-item {% if request.path == '/about/'    %}active{% endif %}"><a class="nav-link" style="color: black !important; font-weight: 900" href="/about">About us</a></li>
            <li class="nav-item {% if request.path == '/services/' %}active{% endif %}"><a class="nav-link" style="color: black !important; font-weight: 900" href="/services">Services</a></li>
            <li class="nav-item {% if request.path == '/contact/'  %}active{% endif %}"><a class="nav-link" style="color: black !important; font-weight: 900" href="/contact">Contact us</a></li>

            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" style="color: #f9bf29 !important; font-weight: 900" href="/accounts/logout">Hi {{ user.username }}!</a></li>

              <li class="nav-item">
                <form method="post" class="logout-form" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="logout-button"><img src="{% static 'images/logout.png' %}" /></button>
                </form>
              </li>

              <li class="nav-item">
                <form method="get" class="logout-form" action="/cart">
                  {% csrf_token %}
                  <button type="submit" class="logout-button"><img src="{% static 'images/cart.svg' %}" /></button>
                </form>
              </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" style="color: #f9bf29 !important; font-weight: 900" href="{% url 'login' %}">Log In</a></li>
            <li class="nav-item"><a class="nav-link" style="color: black !important; font-weight: 900" href="/accounts/login"><img src="{% static 'images/user.svg' %}" /></a></li>
            {% endif %}
          </ul>


        </div>
      </div>
    </nav>

    <main role="main">
      <div id="site-wrapper">
        {% block content %}MISSING CONTENT{% endblock content %}
      </div>
    </main>

    <footer class="container fixed-bottom bg-dark text-white">
      <p>&copy; Tanush Decors 2024</p>
    </footer>
  </body>

  {# Set of blocks that can be used to display JavaScript files #}
  
  {% block footer_javascript %}
  
    {% block footer_javascript_site %}
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/tiny-slider.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    {% endblock footer_javascript_site %}

    {% block    footer_javascript_section %}
    {% endblock footer_javascript_section %}

    {% block    footer_javascript_page %}
      <footer class="footer-section">
      <div class="container relative">
        <div class="sofa-img">
          <!-- <img src="{% static 'images/sofa.png' %}" alt="Image" class="img-fluid" /> -->
        </div>

        
        

        <div class="row g-5 mb-5">
          <div class="col-lg-4">
            <div class="mb-4 footer-logo-wrap">
              <a href="#" class="footer-logo">Tanush decors<span>.</span></a>
            </div>
            <p class="mb-4">
              Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio
              quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
              vulputate velit imperdiet dolor tempor tristique. Pellentesque
              habitant
            </p>

            <ul class="list-unstyled custom-social">
              <li>
                <a href="#"><span class="fa fa-brands fa-facebook-f"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-brands fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-brands fa-instagram"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-brands fa-linkedin"></span></a>
              </li>
            </ul>
          </div>

          <div class="col-lg-8">
            <div class="row links-wrap">
              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Knowledge base</a></li>
                  <li><a href="#">Live chat</a></li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li><a href="#">Jobs</a></li>
                  <li><a href="#">Our team</a></li>
                  <li><a href="#">Leadership</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li><a href="#">Nordic Chair</a></li>
                  <li><a href="#">Kruzo Aero</a></li>
                  <li><a href="#">Ergonomic Chair</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        

        <!---
        <div class="border-top copyright">
          <div class="row pt-4">
            <div class="col-lg-6">
              <p class="mb-2 text-center text-lg-start">
                Copyright &copy; 2025
              </p>
            </div>

            <div class="col-lg-6 text-center text-lg-end">
              <ul class="list-unstyled d-inline-flex ms-auto">
                <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
       
      </div>
      </footer>
    {% endblock footer_javascript_page %}

  {% endblock footer_javascript %}
</html>
