{% extends 'tanushdecors/layout/base.html' %}

{% load static %}

{% block title %}Tanush Decors{% endblock title %}

{% block content %}

<div class="login-box">
  <div class="overlay"></div>

  <div class="form-container">
    <ul class="nav nav-pills nav-justified mb-4" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="login-tab"
          data-bs-toggle="tab"
          data-bs-target="#login"
          type="button"
          role="tab"
          aria-controls="login"
          aria-selected="true"
        >
          Login
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          href="{% url 'signup' %}" 
          role="tab"
          aria-controls="register"
          aria-selected="false"
        >
          Register
        </a>
      </li>
      
    </ul>

    <div class="tab-content" id="myTabContent">
      <!-- Login Form -->
      <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab" >
        <h3>Login</h3>

        <form id="loginForm" method="post">
            {% csrf_token %}
            {{ form }}
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>

      
      </div>
    </div>
  </div>
</div>

{% endblock content %}
