{% extends 'tanushdecors/layout/base.html' %}

{% block title %}Error: Page not found{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{ question.question_text }}</h1>
    </div>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    {{ question.question_text }}
                </h4>
            </div>
            <div class="card-body">
                {% for choice in question.choice_set.all %}
                <ul class="list-unstyled mt-3 mb-4">
                    {{ choice.choice_text }} -- {{ choice.votes }} vote{{choice.votes|pluralize }}
                </ul>
                {% endfor %}

                <ul class="list-unstyled mt-3 mb-4"></ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                    <a href="{% url 'tanushdecors:detail' question.id %}">Vote again</a>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
